<!DOCTYPE html>
<html>
<head>
    <title>理工江湖 CDUT Adventure</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>
<body style="font-family: 'Microsoft YaHei UI'; color: gray; background: url(@Url.Content("~/Resources/Images/background.jpg"));">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Resources/Images/xiyangwushi.jpg")" style="width:50px;height:50px;" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    <li><a href="WebApp/flappybird">扑腾小鸟</a></li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("权限管理", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("账号管理", "Index", "UsersAdmin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom text-center navbar-inverse" role="navigation">
        <div style="color:gray;">
            &copy; 2014 - @DateTime.Now.Year <a href="http://www.lyosaki88.com">@ViewBag.WebSiteName - @ViewBag.BuildVersion</a>
        </div>
    </nav>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
